:root {
  --blue-background: #08080D;
  --panel-background: rgb(97, 112, 181);
}

html,
body {
  min-height: 300vh;
  margin: 0;
  padding: 0;
  background-color: var(--blue-background);
  display: flex;
  flex-direction: column;
}

/*centers sections within body*/
#smooth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prose {
  font-size: large;
  color: white;
  text-align: center;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-1 {
    background-color: black;
    height: 2500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 500px;
}

.section-1 p {
  margin-bottom: 50vh;
}

.section-2 {
  background: linear-gradient(black, var(--blue-background));
  flex-direction: column;
}

.section-3 {
  background-color: var(--blue-background);
  height: 100vh;
}

.section-5 {
  background-color: var(--blue-background);
}

.section-6 {
  flex-direction: column;
  padding-bottom: 200px;
}

.section-7 {
  /* background-image: url(img/7b.png); */
  /* background-position: center center; */
  /* background-size: cover; */
  position: relative;
  min-height: 200vh;
}

.section-8 {
  margin-top: 500vh;
  flex-direction: column;
  margin-bottom: 300vh;
}

.section-9 {
  margin-top: 100vh;
  min-height: 100vh;
  position: relative;
  margin-bottom: 300vh;

}

.section-14 {
  background-color: var(--blue-background);
  min-height: 400vh;
}

.section-17 {
  background: linear-gradient(var(--blue-background), white);
  min-height: 300vh;
}

.boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 5rem;
  /* height: 300vh; THIS SHOULD BE SAME AS BODY min-height !!! */
}

.box {
  height: 290px;
  width: 290px;
  /* background-color: var(--panel-background); */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: relative;
  overflow: visible;
}

.box-wide {
  height: 250px;
  width: 700px;
  /* background-color: var(--panel-background); */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: relative;
  overflow: visible;
}

.box-thin {
  height: 310px;
  width: 250px;
  /* background-color: var(--panel-background); */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: relative;
  overflow: visible;
}

.box-small {
  height: 100px;
  width: 100px;
  /* background-color: var(--panel-background); */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: relative;
  overflow: visible;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.human {
  position: absolute; /* positions relative to parent box */
  background-color: white;
  border: 2px, solid black;
  border-radius: 50%;

  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  opacity: 80%;
  font-size: 16px;
  font-family: "Edu SA Beginner", sans-serif;
  font-weight: 450;

  padding: 16px;
  width: fit-content; 
  height: fit-content; 
}

.god {
  position: absolute; /* positions relative to parent box */
  background-color: black;
  border: 2px, solid white;
  border-radius: 50%;
  
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  opacity: 80%;
  font-size: 13px;
  font-family: "Merriweather", serif;

  padding: 16px;
  width: fit-content; 
  height: fit-content; 

  /* animation: bob 3s ease-in-out infinite; */
}

@keyframes bob {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px); /* adjust the height of the bob */
  }
}

